version: "3.7"
services:
  app:
    image: ghcr.io/nope246/nope-home-mining:latest
    ports:
      - "${APP_PORT}:3333"
    volumes:
      - ${APP_DATA_DIR}/data:/data
    restart: on-failure
    stop_grace_period: 1m
    networks:
      - default

networks:
  default:
    name: umbrel_main_network
    external: true
